<?xml version="1.0"?>
<configuration>
  <connectionStrings>
  </connectionStrings>

  <location path="api">
    <system.web>
      <httpHandlers>
        <add path="*" type="SmallFry.HttpServiceHandler, SmallFry" verb="DELETE,GET,POST,PUT" />
      </httpHandlers>
    </system.web>

    <system.webServer>
      <handlers>
        <add name="HttpServiceHandler" path="*" type="SmallFry.HttpServiceHandler, SmallFry" verb="DELETE,GET,POST,PUT" preCondition="integratedMode"/>
      </handlers>
    </system.webServer>
  </location>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>